
body *:not(.aniqlo){
  font-family: Helvetica, Sans-serif;
  font-size: 18px;
  box-sizing:border-box;
  color:black;
  justify-content: center;
  align-items: center;
}


body {
  display: flex;
  flex-direction: column;
}

.headerWrap {
  display:flex;
  flex:1;
  width:100%;
  justify-content: left;
  align-items: left;
}

#cartHeader {
  font-weight:bold;
  font-size:26px;
  text-decoration: underline;
  justify-content: flex-start;
  align-items: left;
}

.mainWrap {
  display:flex;
  width:100%;
  align-items:flex-start;
  flex:1;
}  

.cartWrap {
  display:flex;
  //flex:100%;
  align-items: left;
  flex-direction:column;
}

.imageWrap {
  flex:20%;
  align-items: left;
}

.productWrap {
  display:flex;
  flex-direction:row;
  width:90%;
  padding:10px;
}

.productInfoWrap {
  flex:40%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  margin-left:20px;
}

.productId-def-term, .productId-def-desc, .productSize-def-term, .productSize-def-desc {
  font-size:18px;
}

.subtotalQtyWrap {
  flex:40%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:flex-end;
  margin-right:60px;
}

.productPrice {
  font-weight: bold;
  font-size: 24px;
}

.quantityWrap, .subtotalQtyWrap, .productIdWrap, .productSizeWrap, .productPriceWrap, .subTotalWrap {
  display:flex;
}

.straight-line {
  border-left: 40px solid white;
  height: 100%; 
}

.productDescription {
  font-size:24px;
  font-weight:bold;
}

.subTotal-def-term, .subTotal-def-desc , .subTotalSummary-def-term, .subTotalSummary-def-desc, .totalSummary-def-term, .totalSummary-def-desc{
  font-weight:bold;
  font-size:20px;
}

.subTotal-def-desc {
  color:red;
}

.orderSummaryWrap {
  margin-right:30px;
  border:2px solid grey;
  display:flex;
  flex-direction:column;
  width:40%;
  background-color: lightgrey;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.orderSummaryBody {
  display: flex;
  flex-direction: column;
}

.subTotalSummaryWrap,
.totalSummaryWrap {
  display: flex;
  justify-content: space-between;
}

.subTotalSummary-def-term,
.totalSummary-def-term {
  text-align: left; 
}

.subTotalSummary-def-desc,
.totalSummary-def-desc {
  text-align: right; 
}

.quantity {
 margin-right:20px;
  font-weight:bold;
}

.selectQuantity
{
  border: 2px solid lightgrey;
  width:50%;
  height: 40px;
  font-size: 18px; 
}

.horizontalLine {
  border: none; 
  border-top: 1px solid grey;
  width: 100%;
  margin-top: 10px;
  margin-bottom:10px;
}

#orderSummaryHeader {
  font-size:24px;
  font-weight: bold;
}

#checkOutButton {
  background-color:#FF2929;
  border:none;
  font-size:24px;
  font-weight:bold;
  padding:10px;
  margin:20px;
  color:white;
}

#checkOutButton:hover {
  background-color: #9D1F04;
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.removeButton,#makePaymentBtn, #closeButton {
  background-color:#FF2929;
  border:none;
  font-size:20px;
  font-weight:bold;
  padding:10px;
  margin:20px;
  color:white;
}

#continueShoppingButton,#closeButton {
  background-color:white;
  border:black solid 2px;
  font-size:20px;
  font-weight:bold;
  padding:5px;
  margin-bottom:20px;
  color:black;
}

.updateCartBtn {
  background-color:white;
  border:black solid 2px;
  font-weight:bold;
  padding:5px;
  color:black;
  margin-left:10px;
}

#continueShoppingButton:hover, #closeButton:hover, .updateCartBtn:hover {
  background-color: black;
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color:white;
  border:none;
}

.removeButton:hover,#makePaymentBtn:hover {
  background-color: #9D1F04;
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: white;
}

.footerWrap {
  flex-shrink: 0;
}

.checkOutPopUp {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

#deliveryAddressForm td{
  padding-bottom:10px;
  font-size:20px;
}

#deliveryDetailsHeader {
  font-weight:bold;
  text-decoration:underline;
  font-size:24px;
}

#deliveryAddressForm input{
  padding:6px;
}

#buttonSection {
  text-align: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999;
}
