.pageHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header-wrap {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    margin:10px;
}

.logo-wrap {
    display: flex;
    flex:0.5;
    flex-direction: column;
    align-items: center;
    width:90%;
    height:90%;
}

.logo-img {
    width: 70%;
    height: 90%;
}

.navigation-wrap {
    flex-grow: 1;
    flex:9.5;
}

#logo-name {
  font-weight:bold;
  font-size: 18px;
  margin-left:-15px;
}

#logo {
    transition: all 0.3s ease;
    width: 90%;
    height: 90%;
}

#logo:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

*:hover,img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
