*,img {
  transition: all 0.3s ease;
}

*:hover, img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.navigation-wrap {
  display: flex;
  width: 100%;
  font-size: 24px;
}

.text-navigation {
  flex: 5.5;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  text-decoration:none;
}

.icon-navigation {
  flex: 4.5;
  display: flex;
  justify-content: space-around;
  align-items: right;
}

.icon-main-wrap{
  flex:3;
  display:flex;
}

.search-wrap {
  flex:7;
  margin:auto;
  margin-right:30px;
  font-size:20px;
}

.icon-wrap {
  width: 100%;
  height: 100%; 
  padding: 1px;
}

.icon-wrap img {
    width: 50%;
    height: 70%;
}

.text-nav-value {
  text-decoration:none;
  font-weight:bold;
  margin-left:100px
}
